@import '~styles/globals';

.addTodo {
  max-width: 60 * $unit;
  padding-top: 3 * $unit;
}

.addTodoWrapper {
  align-items: center;;
  display: flex;
  justify-content: center;;
  padding: 0 2 * $unit;
}

.todoList {
  max-width: 60 * $unit;
  padding-top: 3 * $unit;
}

.todoListWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 2 * $unit;
}
