.addTodo {
  max-width: 600px;
  padding-top: 30px;
}

.addTodoWrapper {
  align-items: center;;
  display: flex;
  justify-content: center;;
  padding: 0 20px;
}

.todoList {
  max-width: 600px;
  padding-top: 30px;
}

.todoListWrapper {
  align-items: center;;
  display: flex;
  justify-content: center;;
  padding: 0 20px;
}
