@import '~styles/globals';
@import 'config';

.app {
  text-align: center;
}

.header {
  background-color: $header-background-color;
  color: $header-color;
  height: 15 * $unit;
  padding: 2 * $unit;
}

.logo {
  height: 8 * $unit;
}
