@import '../../../../styles/globals';

.checkbox {
  flex-shrink: 1;
  position: relative;
  top: .5 * $unit;
}

.input {
  flex-grow: 1;
  padding-left: 1rem;
}

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
